body {
    font-family: montserrat,Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: none;
    color: #555555;
    background-color: #fff;
    font-weight: 400;
    letter-spacing: .02em;
}
.min-height-page{
    min-height: 650px;
}

a {
    transition: .33s all ease-out;
    background-color: transparent;
    /* color :#000; */
    text-decoration:none;
    
}
a:hover {
    /* color :#000 !important; */
    text-decoration:none !important;
}
.red{
    color: #CE0000;
}
.icon{
    font-size:1.56em;
    color: #CE0000;
}
.icon-wishes{
    font-size:1em;
    /* color: #555555; */
}
.icon-wishes:hover{
    cursor: pointer;
    color: #CE0000;
}
.center{
    position: relative;
    text-align: center;
}
.center-img {   
    text-align: center;
    vertical-align: middle !important;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.height-nav-80{
    height: 5em;
}
.portret-height{
    height:200px;
}

.padding-page{
    padding: 2em;
}
.padding-section{
    padding: 1em;
}
.small-text{
    font-size: 1em;
    font-weight: 600;
}
.title{
    font-weight: 600;
    font-family: montserrat,Helvetica,Arial,sans-serif;
    font-size: 1.57em;
}
.subtitle{
    font-size:1.2em;
}
/* carousel-gift */
#carousel-gifts .owl-item img, #carousel-single-gift .owl-item img{width:auto!important;}
#carousel-gifts .owl-stage, #carousel-single-gift .owl-stage{display:flex;align-items:center;}
#carousel-gifts .owl-item, #carousel-single-gift .owl-item{float:none;display:inline-block;}
#carousel-gifts .owl-prev, #carousel-single-gift .owl-prev{top:25%;position:absolute;background:transparent;left:-30px;color:#CE0000;font-size:36px;}
#carousel-gifts .owl-next, #carousel-single-gift .owl-next{color:#CE0000!important;top:25%;position:absolute;right:-30px;background:transparent;font-size:36px;}
.parteneri-img{max-height:200px;margin:auto}
.parteneri-img-pagina{max-height:100px;margin-left:auto;margin-right:auto;margin-bottom:25px;}

/*sageata back-to-top*/
.scroll-top-wrapper{
    /*opacity: 0;*/
    height: 40px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    width: 40px;
    background-color: #2c2c2c;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding-left: 9px;
    padding-top: 7px; */
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    visibility: hidden;
    text-align: center;
    line-height: 38px;
 
      z-index:999;
  }
  .scroll-top-wrapper.show {
      visibility:visible;
      cursor:pointer;
        opacity: 1.0;
  }
  .scroll-top-wrapper:hover {
    background-color: #CE0000;
    
  }
  .arrow{
    color: #fff;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
  }

/*endsageatabacktotop*/
.margin-right0{
    margin-right: 0;
}
.margin-left0{
    margin-left: 0;
}
.margin-left5px{
    margin-left: 5px;
}
.margin0{
    margin:0;
}
.margin-bottom17{
    margin-bottom: 17px;
}
.padding0{
    padding:0;
}
.hidden{
    display: none;
}
.visible{
    display: block;
    
}
.invisible{
    visibility: hidden;
}
.box-news p{
    color: #9f9f9f;
}



#navbar1{
    background-color: #fff;  
    display: flex;
    align-items: center; 
    border-bottom: 1px solid #e5e7e9;
}
.nav-link {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 15px;
    padding: 0 15px;
    color: #555555!important;
}
.border-nav{
    border-left: 1px solid #e1e1e1;
}

.nav-link:hover {
    color: #CE0000 !important;
}

.nav-item .active{
    color: #CE0000 !important;
}
.navbar-nav > li > a{
    padding: 5px 0;
}
.navbar-nav > li > .rd-navbar-default.rd-navbar-static .rd-navbar-nav>li+li:before {
    content: '';
    width: 1px;
    background-color: #e1e1e1;
    display: block;
    height: 22px;
    float: left;
    position: relative;
    left: -18px;
}


.navbar-text{
    font-family: montserrat,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 1.2;
    text-transform: uppercase;
    color: #555555!important;
    font-size: 0.88em;
}
#navbar1 .dropdown-menu{  
    border-radius:0;
    color: #555555!important;
    padding: 25px 35px 6px 30px;
    margin-left: -32px;
    -webkit-box-shadow: 0 0 13px 0 rgba(21,21,21,.13);
    border-top: 2px solid #CE0000;
    margin-top: 20px;
}
.dropdown-item{
    padding: 0;
    margin-bottom:15px;
    color: #555555;
}
.margin-bottom0{
    margin-bottom: 0px;
}

#navbar1 .dropdown-item:hover {
    background-color: #fff;
    color: #CE0000!important;    
}
.arrow-submenu{
    transition: 1s all ease-out;
}
#navbar1 .dropdown-item:hover .arrow-submenu{   
    display: inline-block;
}
.dropdown-item:last-child{
    padding-bottom:0em;
}
#footer{
    border-top: 2px solid #CE0000;
    padding: 2em 0;
    font-size: 0.88em;
}

.portret-gift{
    max-height: 100px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #CE0000!important;
}

#txt-privacy-policy{
    text-align: right;
}







/* xs */
@media (max-width: 768px){
    /* bday */
    .portret-height{
        height:100px;
    }   
    #carousel-gifts .owl-next, #carousel-single-gift .owl-next{
        position: relative!important;
    
    }
    #carousel-gifts .owl-prev, #carousel-single-gift .owl-prev{
        position: relative!important;
    
    }
    .navbar-nav{
        padding-top: 15px;
        padding-bottom: 15px;

    }
    .navbar-collapse{
        /* background-color: #532973; */
        margin-left:-15px;
        margin-right:-15px;
        z-index: 100;
        background: #fff;
    }
    .margin-top28, .page-footer-title, #txt-privacy-policy, #footer, .title{
        text-align: center;
    }
    #patrate {
        height: 800px;
        margin-bottom: 100px;
    }
    #navbar1 .dropdown-menu {
        margin-left: auto;   
    }  
    h2.page-title {
        font-size: 35px;
    }
    .padding-page{
        padding-top:50px;
        padding-bottom:50px;

    }
    .height15-visiblexs{
        margin-top: 15px;
    }
    .text-gift-page{
        text-align: center!important;
    }

}
@media (max-width: 450px){

  
}
